@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: "Poppins", sans-serif;
  color: green;
}

.bus-aside{
  background-color: #f7b71d;
  margin-top: -200px !important;
  padding: 20px;
  position: absolute;
  margin-left: -100px;
  text-align: center;
}

.bus-aside li{
  list-style: none;
  font-size: 20px;
  padding-bottom: 7.5px;
  padding-top: 7.5px;
  border-radius: 5px;
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.bus-aside a{
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: color 0.3s ease; 
}

.bus-aside li:hover{
  background-color: #f7b71d;
}

.bus-aside li a:hover{
  color: black;
}

.side-text{
  margin-left: 30%;
  margin-top: -130px;
  background-color:#f7b71d ;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

label{
  display: inline-block;
  text-align:left;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-weight: bold;
}

h3{
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}
 input[type="text"], input[type="number"]{
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
 }

.submit-btn{
  margin-bottom: 5px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #2a2c2a;
}

table{
  width: 80%;
  margin: auto;
  text-align: center;
}

.table_th{
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  background-color: black;
}

.table_td{
  padding: 10px;
  color: black;
}

.side-text-addcontent{
  margin-top: -20px;
  margin-left: 30%;
  background-color:#f7b71d ;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.radio-btn{
  color: black;
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-family:"Poppins", sans-serif;
  font-weight: 500;
}

.rad{
  display: inline;
  margin: 35px;
}