.bms-login-btn{
  background-color:#f7b71d;
  color: black;
  border: 1px solid white;
  border-radius: 25px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  margin: 10px 10px 10px 10px;
  padding: 5px 15px;
}
.bms-login-btn:hover{
  background-color: black;
  color: white;
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-instagram:before {
  content: "\f16d";
}
.hero-wrap .overlay{
  height: 1010px !important;
}